.jumbotron {
  text-align: center;
  margin-bottom: 0px;
  background-image: linear-gradient(#1994e6, #ecec13, #13ec13);
}
div.gallery {
  margin: 1px;
  border: 1px solid #ccc;
  float: left;
  width: 150px;
}

div.gallery img {
  width: 150px;
  height: 150px;
}

footer {
  background: #f2f2f2;
  border-top: solid 2px #e4e4e4;
  /*   position: fixed; */
  bottom: 0;
  padding-bottom: 0;
  width: 100%;
}

ul li {
  display: inline;
  color: black;
  font-size: 14px;
  padding: 13px;
}

footer ul a:hover {
  text-decoration: underline;
}

.footer-right {
  float: right;
}
